/* Acceuil */
@media screen and (min-width: 1441px) {
  body > .reserve:nth-of-type(1) {
    height: 355px;

    & > .text_align {
      font-size: 1.3em;
      margin-bottom: 15px;
    }

    & > .title {
      width: auto;
      font-size: 1.8em;
    }

    & > .subtitle {
      padding-left: 39%;
      padding-right: 39%;
      font-size: 1.5em;
      width: auto;
    }

    & > .btn_unique {
      width: 283px;
      height: 58px;
      font-size: 1.2em;
    }
  }

  body > .demo:nth-of-type(2) {
    justify-content: space-around;
    height: 250px;
    padding-bottom: 20px;

    & > .title_demo {
      width: 100%;
      margin-left: 1%;
      font-size: 1.7em;
    }

    & > .step_demo {
      width: 459px;
      margin-left: 0%;
      margin-right: 0%;

      & > .step_demo_num {
        padding: 8px;
        padding-top: 3px;
        width: 11px;
        font-size: 18px;
        height: 15px;
      }

      &:nth-of-type(1) > i {
        font-size: 1.4em;
      }

      &:nth-of-type(2) {
        margin-bottom: 0px;
        margin-top: 0px;

        & > i {
          font-size: 1.3em;
        }
      }

      &:nth-of-type(3) > i {
        font-size: 1.15em;
      }

      & > .subtitle_demo {
        font-size: 1.21em;
      }
    }
  }

  body > .menu:nth-of-type(3) {
    padding-bottom: 3%;

    & > .title_menu {
      margin-left: 1%;
      margin-bottom: 39px;
      width: 100%;
      font-size: 1.7em;
    }

    & > .article {
      display: contents;
    }

    & > .article > a {
      display: contents;
      & > .bloc_componant {
        width: 23%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 15px;
        margin-bottom: 35px;

        & > .card {
          height: auto;
        }

        & > .bloc_menu {
          margin-top: -20px;
          height: 90px;

          & > .title_menu {
            font-size: 1.45em;
          }

          & > .text_menu {
            font-size: 1.3em;
          }

          & > i {
            right: inherit;
            margin-left: 19.5%;
            font-size: 1.86em;
            margin-top: -63px;
          }
        }
      }
    }

    & > .article:nth-of-type(1) > a > figure > span {
      right: 77%;
      margin-left: 0%;
      font-size: 1.2em;
    }

    & > .article:nth-of-type(2) > a > figure > span {
      right: 52%;
      margin-left: 0%;
      font-size: 1.2em;
    }
  }

  .footer {
    padding-left: 0%;
    text-align: center;

    & > .logo_footer {
      font-size: 1.35em;
      margin-bottom: 0%;
      padding-top: 0.2%;
    }

    & > .list_footer {
      font-size: 1.1em;
      display: inline-block;
      margin-right: 2.5%;
    }
  }
}

/* Menu */
@media screen and (min-width: 1441px) {
  .header {
    position: absolute;
    top: 0px;
    text-align: center;
    width: 100%;
    height: 66px;
    background: $white;

    & > a {
      position: absolute;
      left: 4%;
      top: 36%;
    }
  }

  body > .card_menu > .card {
    width: 100%;
    height: auto;
    margin-top: -20%;
    margin-bottom: -20%;
  }

  .card_plat > .article > .bloc_constitution {
    margin-top: 51px;
    margin-bottom: -36px;
  }

  .card_plat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 1%;

    & > .title {
      padding-left: 20px;
      margin-bottom: 35px;
      font-size: 2em;
      width: 100%;
    }

    & > i {
      right: 3%;
      font-size: 2em;
    }

    & > .plat {
      padding-left: inherit;
      padding-right: inherit;
      justify-content: normal;
      width: 470px;
      align-items: baseline;
      height: fit-content;
      margin-top: 20px;

      & > .title-2 {
        left: inherit;
        font-size: 1.5em;
        margin-top: -8px;
      }

      & > .bloc_constitution {
        margin-top: 51px;
        margin-bottom: -36px;

        & > .title_menu {
          font-size: 1.25em;
        }

        & > .text_menu:nth-of-type(1) {
          font-size: 1.05em;
        }

        & > .text_menu:nth-of-type(2) {
          right: inherit;
          margin-left: 345px;
          font-size: 1.15em;
        }

        &:hover > .text_menu {
          width: 233px;
        }

        &:hover > .text_menu:nth-of-type(1) {
          width: 233px;
        }

        &:hover > .text_menu:nth-of-type(2) {
          right: inherit;
          margin-left: 260px;
        }

        & > div {
          right: inherit;
          margin-left: 343px;
          width: 94px;
          height: 49px;
          padding-top: 27px;
        }

        & > #slide_menu {
          height: 54px;
          padding-top: 32px;
        }
      }
    }

    & > button {
      margin-bottom: 4%;
      margin-top: 2.5%;
      margin-right: 33%;
      margin-left: 33%;
      width: 203px;
      height: 60px;
      font-size: 1.3em;
    }
  }
}
