/* Accueil */
@media screen and (min-width: 530px) and (max-width: 768px) {
  body > .reserve:nth-of-type(1) {
    & > .title {
      width: auto;
    }

    & > .subtitle {
      padding-left: 17%;
      padding-right: 17%;
    }
  }

  body > .demo:nth-of-type(2) {
    & > .title_demo {
      width: 100%;
      margin-left: 22px;
    }

    & > .step_demo {
      width: 397px;
    }
  }

  body > .menu:nth-of-type(3) {
    padding-bottom: 7%;

    & > .title_menu {
      margin-left: 3%;
      margin-bottom: 25px;
      width: 100%;
    }

    & > .article {
      display: contents;
    }

    & > .article > a {
      display: contents;
      & > .bloc_componant {
        width: 46%;
        margin-left: 1.5%;
        margin-right: 1.5%;
        margin-top: 15px;

        & > .card {
          height: auto;
        }

        & > .bloc_menu {
          margin-top: -16px;

          & > i {
            right: inherit;
            margin-left: 36.2%;
          }
        }
      }
    }

    & > .article:nth-of-type(1) > a > figure > span {
      right: 54%;
    }

    & > .article:nth-of-type(2) > a > figure > span {
      right: 5%;
    }
  }

  .footer {
    padding-left: 0%;
    text-align: center;

    & > .logo_footer {
      font-size: 1.35em;
      margin-bottom: 0%;
      padding-top: 0.2%;
    }

    & > .list_footer {
      font-size: 1.1em;
      display: inline-block;
      margin-right: 2.5%;
    }
  }
}

/* Menu */
@media screen and (min-width: 426px) and (max-width: 768px) {
  .header {
    position: absolute;
    top: 0px;
    text-align: center;
    width: 100%;
    height: 66px;
    background: $white;

    & > a {
      position: absolute;
      left: 4%;
      top: 36%;
    }
  }

  body > .card_menu > .card {
    width: 100%;
    height: auto;
    margin-bottom: -5%;
  }

  .card_plat > .article > .bloc_constitution {
    margin-top: 51px;
    margin-bottom: -36px;
  }
  .card_plat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 1%;

    & > .title {
      padding-left: 20px;
      margin-bottom: 35px;
      font-size: 2em;
      width: 100%;
    }

    & > i {
      right: 3%;
      font-size: 2em;
    }

    & > .plat {
      padding-left: inherit;
      padding-right: inherit;
      justify-content: normal;
      width: 470px;
      align-items: baseline;
      height: fit-content;
      margin-top: 20px;

      & > .title-2 {
        left: inherit;
        font-size: 1.5em;
        margin-top: -8px;
      }

      & > .bloc_constitution {
        margin-top: 51px;
        margin-bottom: -36px;

        & > .title_menu {
          font-size: 1.25em;
        }

        & > .text_menu:nth-of-type(1) {
          font-size: 1.05em;
        }

        & > .text_menu:nth-of-type(2) {
          right: inherit;
          margin-left: 345px;
          font-size: 1.15em;
        }

        &:hover > .text_menu {
          width: 233px;
        }

        &:hover > .text_menu:nth-of-type(1) {
          width: 233px;
        }

        &:hover > .text_menu:nth-of-type(2) {
          right: inherit;
          margin-left: 260px;
        }

        & > div {
          right: inherit;
          margin-left: 343px;
          width: 94px;
          height: 49px;
          padding-top: 27px;
        }

        & > #slide_menu {
          height: 54px;
          padding-top: 32px;
        }
      }
    }

    & > button {
      margin-bottom: 4%;
      margin-top: 2.5%;
      margin-right: 33%;
      margin-left: 33%;
      width: 203px;
      height: 60px;
      font-size: 1.3em;
    }
  }
}
