/* Header */
body {
  margin: 0px;
}

body > .reserve:nth-of-type(1) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 336px;
  margin-top: 0px;
  background: $background;
  text-align: center;
  font-family: $Roboto;

  & > .text_align {
    font-size: 1em;
    color: $text;
    font-weight: bold;
    padding-top: 15px;
    padding-right: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 35px;
    width: 100%;
    background-color: $background-2;
    box-shadow: inset 0px 2px 5px rgb(177, 177, 177, 0.8);

    & > i {
      margin-right: 17px;
    }
  }

  & > .title {
    font-family: $Roboto;
    font-weight: bold;
    width: 240px;
    font-size: 1.4em;
    margin-top: -20px;
  }

  & > .subtitle {
    font-family: $Roboto;
    font-weight: 400;
    width: 370px;
    color: $subtitle;
    margin-top: -63px;
    font-size: 1.1em;
  }
  /* Bouton */
  & > .btn_unique {
    width: 226px;
    margin-top: -45px;
    @include button;
  }
}
/* Fonctionnement Demo*/
body > .demo:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 430px;
  padding-bottom: 37px;

  & > .title_demo {
    flex: auto;
    font-family: $Roboto;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: -7px;
    font-weight: bold;
  }

  & > .step_demo {
    display: flex;
    align-items: center;
    width: 87%;
    height: 75px;
    border-radius: 20px;
    margin-left: 10px;
    background: $background;
    box-shadow: 0px 3.5px 12px $shadow;
    font-family: $Roboto;
    transition: all 250ms;
    cursor: pointer;

    &:hover {
      background: $background-hover;
    }

    & > .step_demo_num {
      color: $white;
      border: 1px solid $primary;
      border-radius: 50px;
      background-color: $primary;
      padding: 7px;
      padding-top: 3px;
      text-align: center;
      width: 9px;
      height: 12px;
      margin-left: -12px;
      font-size: 14px;
      margin-top: 20px;
      margin-right: 7%;
    }

    &:nth-of-type(1) {
      & > i {
        color: $gray;
        font-size: 1.3em;
      }

      &:hover > i {
        color: $primary;
      }
    }

    &:nth-of-type(2) {
      & > i {
        color: $gray;
        font-size: 1.2em;
        margin-right: -6.5px;
      }

      &:hover > i {
        color: $primary;
      }
    }

    &:nth-of-type(3) {
      & > i {
        color: $gray;
        font-size: 1.05em;
        margin-right: -8px;
      }

      &:hover > i {
        color: $primary;
      }
    }

    & > .subtitle_demo {
      margin-left: 9%;
      font-size: 17px;
    }
  }

  & > article:nth-of-type(2) {
    margin-bottom: -12px;
    margin-top: -12px;
  }
}
/* Restaurant - menu */
body > .menu:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: $background;
  padding-bottom: 13%;

  & > .title_menu {
    flex: auto;
    font-family: $Roboto;
    margin-left: 20px;
    margin-top: 50px;
    font-weight: bold;
  }

  & > .article > a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $title_menu;
    text-decoration: none;
  }

  & > .article > a > .bloc_componant {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2px;

    & > .new {
      position: absolute;
      margin-top: 14px;
      right: 8%;
      color: darken($darken_new, 5%);
      border: 0px solid $title_menu;
      border-radius: 2.5px;
      padding: 7px;
      padding-right: 11px;
      padding-left: 11px;
      background: $tertiary;
      font-family: $Roboto;
      font-size: 0.86em;
      font-weight: bold;
    }

    & > .card {
      width: 100%;
      height: auto;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      box-shadow: 0px 3px 8px $shadow_card;
    }

    & > .bloc_menu {
      position: relative;
      width: 100%;
      height: 76px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      align-self: flex-end;
      background: $white;
      box-shadow: 0px 0px 11px $shadow_card;
      padding-left: 15px;
      font-family: $Roboto;

      & > .title_menu {
        margin-top: 15px;
      }

      & > .text_menu {
        font-size: 1.1em;
        margin-top: -17px;
      }

      & > i {
        position: absolute;
        margin-top: -55px;
        right: 12%;
        font-size: 1.4em;
        @include like_btn;
      }
    }
  }
}
