body {
  margin: 0px;
}

.header > a {
  position: absolute;
  left: 5%;
  top: 3%;
  font-size: 1.25em;
  color: $gray_darken;
  cursor: pointer;
}

body > .card_menu > .card {
  width: 100%;
  height: 258px;
}

/* Mise en form */
.card_plat {
  position: relative;
  border: 0px solid $title_menu;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  background: $background;
  margin-top: -55px;
  padding-top: 9px;
  padding-bottom: 1px;
  text-align: center;

  & > .title {
    font-family: $Shrikhand;
    font-size: 1.7em;
    font-weight: unset;
    padding-left: 18px;
    text-align: left;
  }

  & > i {
    position: absolute;
    right: 10%;
    @media screen and (max-width: 338px) {
      right: 3.5%;
    }
    margin-top: 28px;
    font-size: 1.4em;
    @include like_btn;
  }

  & > button {
    width: 194px;
    margin-top: 6%;
    margin-bottom: 18%;
    @include button;
  }
}

/* Plats */
.card_plat > .plat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 63px;
  text-align: left;

  & > .title-2 {
    position: absolute;
    left: 5%;
    font-family: $Roboto;
    font-size: 1em;
    margin-top: 8px;
    padding-bottom: 4px;
    color: $subtitle;
    font-weight: inherit;
    border-bottom: 3.5px solid $tertiary;
    width: 40px;
  }
}

.card_plat > .plat > .bloc_constitution {
  display: flex;
  flex-wrap: wrap;
  width: 93%;
  min-height: 69px;
  margin-top: 51px;
  margin-bottom: -36px;
  background: $white;
  border: 0px solid $white;
  border-radius: 14px;
  box-shadow: 0px 2.5px 10px $shadow;
  font-family: $Roboto;
  text-align: left;
  animation: carte 1250ms backwards;
  cursor: pointer;

  & > .title_menu {
    font-size: 1.1em;
    margin-left: 10px;
    margin-top: 13px;
    width: 78%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 450ms;
  }

  & > .text_menu:nth-of-type(1) {
    margin-left: 10px;
    margin-top: -13px;
    margin-bottom: 11px;
    font-size: 0.9em;
    color: $text;
    width: 78%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 450ms;
  }

  & > .text_menu:nth-of-type(2) {
    font-weight: bold;
    color: $gray_darken;
    position: absolute;
    right: 10%;
    margin-top: 38px;
    transition: 450ms;
  }

  & > div {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 3%;
    width: 16.5%;
    height: 46px;
    padding-top: 23px;
    border: 0px solid $title_menu;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    background: $tertiary;
    transform-origin: right;
    transform: scaleX(0);
    transition: 450ms;

    & > i {
      color: $white;
      font-size: 1.35em;
      position: inherit;
      transition: 450ms;
    }
  }

  /* Icon check */
  &:hover {
    & > .title_menu {
      width: 60%;
      transition: 680ms;
    }

    & > .text_menu:nth-of-type(1) {
      width: 60%;
      transition: 680ms;
    }

    & > .text_menu:nth-of-type(2) {
      right: 25%;
      transition: 580ms;
    }

    & > div {
      transform: scaleX(1);
      transition: 580ms;

      & > i {
        transform: rotate(360deg);
        transition: 0.5s;
        transition-delay: 0.2s;
        animation: select 580ms backwards;
      }
    }
  }
}
