/* Bouton */
@mixin button {
  height: 50px;
  border: 0px solid $title_menu;
  border-radius: 50px;
  color: $white;
  font-family: $Roboto;
  font-size: 1em;
  background: linear-gradient(174deg, $secondary, $primary);
  box-shadow: 0px 3px 9px $shadow_card;
  cursor: pointer;
  outline: none;
  transition: all 500ms;

  &:hover {
    background: linear-gradient(
      174deg,
      lighten($secondary, 1.5%),
      lighten($primary, 1.5%)
    );
    box-shadow: 0px 3px 9px darken($shadow, 10%);
  }
}

/* Animation Heart */
@mixin like_btn {
  color: $title_menu;
  cursor: pointer;
  font-weight: bold;
  background-size: auto 0%;
  background-repeat: no-repeat;
  -webkit-text-stroke-width: 1px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 600ms;

  &:hover {
    color: -webkit-linear-gradient(235deg, $primary, $secondary);
    background: -webkit-linear-gradient(235deg, $primary, $secondary);
    color: $heart;
    background-size: auto 100%;
    background-repeat: no-repeat;
    -webkit-text-stroke-width: thin;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
