/* Typographie */
$Roboto: "Roboto", sans-serif;
$Shrikhand: "Shrikhand", cursive;

/* Color */
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$arrow: #3c3c3c;
$background: #f2f2f2;
$liens: #ffffff;
