/* Typographie */
$Roboto: "Roboto", sans-serif;
$Shrikhand: "Shrikhand", cursive;

/* Color */
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

/* Index */
$gray_darken: #3c3c3c;
$background: #f2f2f2;
$background-2: #dedede;
$background-hover: #ece1fa;
$shadow: #c5c5c5;
$shadow_card: #a5a5a573;
$gray: gray;
$title_menu: black;
$darken_new: #00a583;
$subtitle: #636363;
$text: #424242;
$white: #ffffff;
$heart: #5f5f5f;
